[submodule "comparison/scripts/uiCA"]
	path = comparison/scripts/uiCA
	url = ../../andreas-abel/uiCA.git
[submodule "comparison/reference/alphadev"]
	path = comparison/reference/alphadev
	url = ../../google-deepmind/alphadev.git
[submodule "comparison/reference/cassioneri"]
	path = comparison/reference/cassioneri
	url = ../../cassioneri/sort3.git
[submodule "comparison/reference/mimicry"]
	path = comparison/reference/mimicry
	url = ../../mimicry-ai/sort.git
[submodule "smt/smt2/synth"]
	path = smt/smt2/synth
	url = https://github.com/NeuralCoder3/shack-synth-web.git
	branch = unary
[submodule "cp/minizinc/chuffed"]
	path = cp/minizinc/chuffed
	url = https://github.com/chuffed/chuffed.git
[submodule "smt/cvc5"]
	path = smt/cvc5
	url = https://github.com/cvc5/cvc5.git
[submodule "smt/metalift/metalift"]
	path = smt/metalift/metalift
	url = https://github.com/metalift/metalift.git
