[submodule "comparison/scripts/uiCA"]
	path = comparison/scripts/uiCA
	url = ../../andreas-abel/uiCA.git
[submodule "comparison/reference/alphadev"]
	path = comparison/reference/alphadev
	url = ../../google-deepmind/alphadev.git
[submodule "comparison/reference/cassioneri"]
	path = comparison/reference/cassioneri
	url = ../../cassioneri/sort3.git
[submodule "comparison/reference/mimicry"]
	path = comparison/reference/mimicry
	url = ../../mimicry-ai/sort.git
